#right {
	color: black;
}
#right #titlewrap {
	height: 30px;
}
#right h1 {
	padding: 0px;
	margin-top: 14px;
	margin-bottom: 10px;
	font-size: 2rem;
}
#right #gameplay {
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
#right #extragameinfo {
	margin-bottom: 15px;
	margin-top: 15px;
}
#right p {
	font-size: 0.95rem;
}
#right .image1 {
	border: 0;
	float: right;
  width: 50%;
  margin: 10px;
}
#right .sectionTitle {
	font-size: 20px;
  font-weight: bold;
}
#right .card-panel {
  -webkit-transition: box-shadow .25s;
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: red;
}


