#right {
	color: black;
}

#right h1 {
	padding: 0px;
	margin-top: 14px;
	margin-bottom: 14px;
	font-size: 28px;
	/* Extra Cool Attributes
	font-family: some font;
	font
	
	*/
}
#right p {
	font-size: 14px;
}
#right .image1 {
	border: 0;
	float: right;
    width: 50%;
    margin: 10px;
}
#right .sectionTitle {
	font-size: 20px;
    font-weight: bold;
}



