/* Modified by Pierce McBride */
/* background-color: #c4c29e; Pantone 453 */
/*==================Basics===================*/
html {
  font-family: "Adobe Garamond Pro",Garamond,Times;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
	background-color: #f9f9f9;
	z-index: -5;
}
body {
	padding: 0px;
	margin: 0px;
}
/*===================================================*/


/*==================LogoandTagline===================*/
#topwrap {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
#logowrap {
	height: 128px;
}
#extend {
	height: 128px;
	width: 50%;
}
#logo {
	height: 128px;
	position: absolute;
	display: block;
	margin-left: 45%;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#tagline {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20px;
}
#coverimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 23%;
}
#scroll {
	margin: 0px;
	padding: 5px 5px 0px 5px;
	text-align: center;
}
#scroll i {
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}
/*================================================*/


/*==================MainContent===================*/
#mainwrap {
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 30px;
}
#mainwrap h1 {
	font-size: 30px;
}
#leftcolumn {
	flex: 1;
}
#middleimg {
	flex: 1;
}
#rightcolumn {
	flex: 1;
}

@media only screen and (max-width: 1001px) {
	#mainwrap {
		display: flex;
		flex-direction: column;
		margin-left: 5%;
		margin-right: 5%;
		height: 100%;
	}
}
/*================================================*/


/*==================Signup========================*/
#sectionbottom {
	padding-bottom: 5px;
	margin-left: 5%;
	margin-right: 5%;
}
#cutout {
	margin-bottom: 50px;
	border-style: dashed;
}
#cutout h1 {
	text-align: center;
	font-size: 1.5rem;
}
.center, .center-align {
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}
#cutout button {
	margin-left: 33.3%;
}
@media only screen and (min-width: 601px) {

  .container {

  }
	#cutout #extend {
		width: 44%;
	}
	
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
	#sectionbottom {
		margin-left: 25%;
		margin-right: 25%;
	}
}
/*======================================================*/


/*==================BottomSection=======================*/
.credits {
	text-align: center;
}
@media only screen and (min-width: 601px) {

}
@media only screen and (min-width: 993px) {

}