@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

/*==================Overall===================*/
html {
	font-family: "Adobe Garamond Pro",Garamond,Times;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
body {
	margin: 0px;
	padding: 0px;
	background-color: #fcfcfc;
	overflow: hidden;
}
p {
	display: block;
	margin: 0;
	padding: 0;
}
/*=========================================== */


/*==================Content===================*/
#wrapper {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 101vh;
	width: 100%;
}
/*==================Magazine===================*/
/*Rest is in turnmagazine.css*/
#canvas {
	height: 520vh;
	overflow: hidden
}
/*==================Games===================*/
#gameselect {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.game {
	width: 250px;
	height: 520px;
	margin-left: 40px;
	margin-right: 40px;
}
.card {
	width: 230px;
	height: 336px;
	cursor: pointer;
}
.card .cover {
	height: 100%;
	width: 100%;
	border: solid;
	border-width: 10px;
	border-color: #EEDDD0;
}
.card .back {
	border: solid;
	border-width: 10px;
	border-color: #EEDDD0;
	background-color: #EEDDD0;
}
.card .back .title {
	text-align: center;
	padding: 0px;
	margin: 5px 0px 0px 0px;
	font-size: 1.9rem;
	font-weight: bold;
}
.card .back .author {
	text-align: center;
	margin-bottom: 5px;
}
.card .back .applelogo {
	display: block;
	margin: auto;
	width: 50px;
}
.card .back .backtop {
	height: 54%;
}
.game .btn {
	display: block;
	width: 180px;
	margin: auto;
	margin-top: 30px;
}
.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}
.collection .collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative;
}
.collection .collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}
.collection .collection-item.avatar .title {
  font-size: 16px;
}
.collection .collection-item.avatar p {
  margin: 0;
}
.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}
.collection .collection-item:last-child {
  border-bottom: none;
}
.collection .collection-item.active {
  background-color: #26a69a;
  color: #eafaf9;
}
.collection .collection-item.active .secondary-content {
  color: #fff;
}
.collection a.collection-item {
  display: block;
  transition: .25s;
  color: #009ce1;
}
.collection a.collection-item:not(.active):hover {
  background-color: #ddd;
}
.collection.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
}
.collection.with-header .collection-item {
  padding-left: 30px;
}
.collection.with-header .collection-item.avatar {
  padding-left: 72px;
}
/*=========================================== */


/*==================Buttons===================*/
.btn,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
	background-color: #c65252;
}
.btn.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}
.btn.disabled:hover, 
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}
.btn,
.btn-flat {
  outline: 0;
}
.btn i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}
.btn:focus {
  background-color: #c65252;
}
.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}
.btn:hover, .btn-large:hover {
  background-color: #ff7979;
}
.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color .2s;
}
.btn-flat:focus, .btn-flat:active {
  background-color: transparent;
}
.btn-flat:focus, .btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
.btn-flat:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-flat.disabled {
  background-color: transparent !important;
  color: #b3b3b3 !important;
  cursor: default;
}
/*==================Modals===================*/
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 30%;
  margin: auto;
  overflow: hidden;
  border-radius: 2px;
  will-change: top, opacity;
}
@media only screen and (max-width: 992px) {
  .modal {
    width: 80%;
  }
}
.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}
.modal .modal-content {
  padding: 24px;
}
.modal .modal-close {
  cursor: pointer;
	left: -20px;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
  float: right;
  margin: 6px 0;
}
.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
}
.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}
.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}
.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}
.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}
/*==================Toasts===================*/
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}
@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}
.toast {
  border-radius: 2px;
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}
.toast.rounded {
  border-radius: 24px;
}
@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}
@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}
/*=========================================== */


/*==================Generic Classes===================*/
.z-depth-1, nav, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .side-nav {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
/*=========================================== */